html {
  background: url(./photos/cosmos.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
.color {
  transition: all 0.2s ease-in-out;
  /* background-color: transparent; */
  width: 100%;
  color: white;
  border-top-right-radius: 30px;
}
.color-aries:hover {
  background-color: #ffeb3b !important;
}
.color-taurus:hover {
  background-color: #ff9800 !important;
}
.color-leo:hover {
  background-color: #520748 !important;
}
.color-capricorn:hover {
  background-color: #71c018 !important;
}
.color-libra:hover {
  background-color: #1a8bf5 !important;
}
.color-scorpio:hover {
  background-color: #0d9482 !important;
}
.color-cancer:hover {
  background-color: #af347c !important;
}
.color-sagitarius:hover {
  background-color: #077446 !important;
}
.color-aquarius:hover {
  background-color: #e29d35 !important;
}
.color-pisces:hover {
  background-color: #b46e06 !important;
}
.color-virgo:hover {
  background-color: #130972 !important;
}
.color-gemini:hover {
  background-color: #bd1a15 !important;
}
.signs {
  height: 80px;
  width: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

#aries:hover {
  background-color: #ffeb3b !important;
}
#taurus:hover {
  background-color: #ff9800 !important;
}
#leo:hover {
  background-color: #520748 !important;
}
#capricorn:hover {
  background-color: #71c018 !important;
}
#libra:hover {
  background-color: #1a8bf5 !important;
}
#scorpio:hover {
  background-color: #0d9482 !important;
}
#cancer:hover {
  background-color: #af347c !important;
}
#sagitarius:hover {
  background-color: #077446 !important;
}
#aquarius:hover {
  background-color: #e29d35 !important;
}
#pisces:hover {
  background-color: #b46e06 !important;
}
#virgo:hover {
  background-color: #130972 !important;
}
#gemini:hover {
  background-color: #bd1a15 !important;
}
#about {
  color: white;
  font-size: larger;
  display: flex;
  margin: auto;
  margin-left: 10px;
  /* margin-top: 10px; */
  text-align: left;
  justify-content: lwft;
  text-justify: distribute;
}

.signs {
  color: ivory;

  text-align: center;
  justify-content: center;
}

.daily {
  color: ivory;
}

li {
  list-style-type: none;
}

.w3-card {
  float: left;
  display: inline;
  max-width: 40%;
  min-width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 2%;
}

.w3-card p {
  font-size: smaller;
}

#name {
  border: black 1px solid;
  background-color: ivory;
  /* max-width: 80%; */
  max-height: 30px;
}

.modal-content {
  color: black;
}

#name {
  width: 75%;
}
