html {
  background: url(cosmos.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  background-size: cover;
}
#color {
  transition: all 0.2s ease-in-out;
  background-color: transparent;
}
#color:hover {
  filter: brightness(150%);
}
.signs {
  height: 80px;
  width: 100%;
}
.div-aries {
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: white;
  text-align: center;
}

#pic {
  margin-top: 50px;
  margin-left: 420px;
}
#submit {
  margin-left: 40px;
}
#sidebar {
  margin-top: 50px;
  background-color: transparent !important;
}
#h1 {
  text-align: center;
  background-color: transparent !important;
  text-decoration: underline;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  margin-top: 15px;
}
